<!doctype html> 
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='styles/style.css')}}">
<meta charset="utf-8"> 
<title> Sara Norris </title>
</head>
<body>
	<div class="container-fluid text-center">
	<h1> Sara Norris </h1>
	</div>
  <div class="container-fluid">
      <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="resume">Resume</a></li> 
      <li><a href="projects">Projects</a></li> 
      <li><a href="contact">Contact</a></li> 
    </ul>
  </div>
</body>
</html>