<!doctype html> 
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='styles/style.css')}}">
<meta charset="utf-8"> 
<title> Sara Norris </title>
</head>
<body>
	<div class="container-fluid text-center">
	<h1> Sara Norris </h1>
	</div>
  <div class="container-fluid">
      <ul class="navbar">
      <li><a href="">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="resume">Resume</a></li> 
      <li><a href="projects">Projects</a></li> 
      <li><a href="contact">Contact</a></li> 
    </ul>
  </div>
  <div id="bio">
    <p> Sara Norris is a third year Computer Science student at the Georgia Institute of Technology. She found her passion for Computer Science her Senior year of high school after taking the AMC Math Examination and has since continued expand her knowledge through her thread-based classes, Artificial Intelligence and People, and extracurriculars. She has developed websites for two clubs, done undergraduate research with the School of Interactive Computing, three personal projects, a Software Engineering internship, a Barcelona Computer Science study abroad program, and three hackathons during her time at Georgia Tech. Please check the resume and project tabs for more information on her experiences, and get in touch via the Contact Page!
    </p>
  </div>
</body>
</html>