 html, body, .container-fluid, .h1 {
 	padding-bottom: 20px;
 }

 h1 { 
    font-family: 'Yrsa', serif;
    text-shadow: 4px 4px 4px #aaa;
}

html, .container, .row, .col-sm-6 { 
    padding-left: 20px;
}

 .navbar {
    overflow: hidden;
    list-style-type: none;
    margin: 0 auto;
    padding-left: 30px;
	text-align: center;
}
li {
	display: inline;
    float: left;
}
li a {
	text-align: center;
	padding: 30px 80px;
	text-decoration: none;
}
li a:hover {
    background-color: #111;
}